@import "../mixin.scss";
.main-box {
    background-color: #fff;
    padding: 20px;
    height: 100%;
    @include clear-fix();
    .query-box {
        @include clear-fix();
        float: left;
        margin-top: 20px;
        .query-item {
            float: left;
            width: 350px;
            margin-left: 50px;
            .el-input {
                display: inline-block;
                width: 250px;
                margin-left: 10px;
            }
        }
        .el-button {
            margin-right: 10px;
        }
    }
    .table-box {
        float: left;
        width: calc(100% - 110px);
        margin-top: 60px;
        margin-left: 50px;
        max-height: 80%;
        overflow: auto;
    }
    .pagination-box {
        float: left;
        width: calc(100% - 110px);
        margin-top: 50px;
        margin-left: 50px;
    }
}

.test {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
}

.table-pic,
.table-op-pic {
    font-size: 20px;
    &:hover {
        cursor: pointer;
        color: #5cb6ff;
    }
}

.table-op-pic {
    margin-right: 10px;
    &:last-of-type {
        margin-right: 0;
    }
}